CONFIG_DEFAULT_WIFI_SSID=""
CONFIG_DEFAULT_WIFI_PASSWORD=""
CONFIG_SERVER_ADDRESS=""
CONFIG_WEATHER_API_KEY=""
CONFIG_CODING_PLAN_API_TOKEN=""
CONFIG_CAR_MOVE_PHONE_NUMBER=""
CONFIG_COMPILER_OPTIMIZATION_ASSERTION_LEVEL=2
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y
CONFIG_OPTIMIZATION_ASSERTIONS_ENABLED=y
CONFIG_OPTIMIZATION_ASSERTION_LEVEL=2
